<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head lang="en">
    <title>Title</title>
    <!--jQuery dependencies-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <!--Include Touch Punch file to provide support for touch devices-->
    <script type="text/javascript" src="js/touch/jquery.ui.touch-punch.min.js" ></script>

    <!--ParamQuery Grid files-->
    <link rel="stylesheet" href="css/pqgrid.min.css" />
    <script type="text/javascript" src="js/pqgrid.min.js" ></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var clms = new Array();
            var columnheads = [];
            if([[${header}]].length > 0){
                clms = ([[${header}]]);
            }

            for(i = 0; i<clms.length; i++){
                console.log(clms[i]);
                columnheads.push({
                    title: clms[i],
                    dataType: "string",
                    width: 100
                });
            }
            columnheads.push({
                title: "", editable: false, minWidth: 83, sortable: false, render: function (ui) {
                    return "<button type='button' class='delete_btn'>Delete</button>";
                }
            });
            var data = [];

            var obj = {width: 700, height: 400,
                title: "DataPro Grid",
                resizable: true,
                draggable: true,
                resizable:true,
                flexHeight: true,
                flexWidth:true,
            pageModel: {type: "local", rPP: 10, rPPOptions: [1, 10, 20, 30, 40, 50, 100, 1000]},
            track: true,
            toolbar: {
                items: [{type: 'button', icon: 'ui-icon-plus', label: 'Add Row', listeners: [
                {"click": function (evt, ui) {
                    //append empty row at the end
                    var rowData = {Discontinued: false};
                    var rowIndx = $grid.pqGrid("addRow", {rowData: rowData});
                    $grid.pqGrid("goToPage", { rowIndx: rowIndx });
                    $grid.pqGrid("editFirstCellInRow", { rowIndx: rowIndx });
                    
                }
                }
                ]
             },
                    {type: 'button', icon: 'ui-icon-disk', label: 'Save Changes', style: 'margin: 0px 5px;', listeners:[
                        {"click": function (evt, ui) {
                            acceptChanges();
                        }}
                    ]},
                    {type: 'button', icon: 'ui-icon-cancel', label: 'Discard Changes', style: 'margin: 0px 5px;', listeners:[
                        {"click": function (evt, ui) {
                            $grid.pqGrid("rollback");
                        }}
                    ]},
                    {type: 'separator'},
                    {type: 'button', icon: 'ui-icon-cart', label: 'Get Changes', style: 'margin: 0px 5px', listeners: [
                        {"click": function (evt, ui) {
                          var changes = $grid.pqGrid("getChanges");
                            try{
                                console.log(changes);
                            }catch (ex){}
                            alert("Please see the log of changes in your browser console.");
                        }}
                    ]}
            ]
            },
            scrollModel: {
                autoFit: true
            },
                selectionModel: {
                    type: ''
                },
                editModel: {
                    saveKey: $.ui.keyCode.ENTER
                },
                refresh: function () {
                    $("#grid-array").find("button.delete_btn").button({ icons: { primary: 'ui-icon-scissors'}})
                            .unbind("click")
                            .bind("click", function (evt) {
                                var $tr = $this.closest("tr");
                                var obj = $grid.pgGrid("getRowIndx", {$tr: $tr});
                                var rowIndx = obj.rowIndx;
                                $grid.pqGrid("addClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });

                                var ans = window.confirm("Are you sure to delete row No " + (rowIndx + 1) + "?");

                                if(ans){
                                    $grid.pqGrid("deleteRow", { rowIndx: rowIndx, effect: true, complete: function () {
                                        $grid.pqGrid("removeClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });
                                    }
                                    });
                                }else{
                                    $grid.pqGrid("removeClass", {rowIndx: rowIndx, cls: 'pq-row-delete'});
                                }
                            });
                }
            };
            obj.colModel = columnheads;
            obj.dataModel = {data: data};
            var $grid = $("#grid-array").pqGrid(obj);
            var grid = $grid.data("paramqueryPqGrid");
        });
        //called when accept changes button is clicked.
        function acceptChanges() {
            //attempt to save editing cell.
            //debugger;
            if (grid.saveEditCell() === false) {
                return false;
            }

            var isDirty = grid.isDirty();
            if (isDirty) {
                //validate the new added rows.
                var addList = grid.getChanges().addList;
                for (var i = 0; i < addList.length; i++) {
                    var rowData = addList[i];
                    var isValid = grid.isValid({ "rowData": rowData }).valid;
                    if (!isValid) {
                        return;
                    }
                }
                var changes = grid.getChanges({ format: "byVal" });

                //post changes to server
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    async: true,
                    beforeSend: function (jqXHR, settings) {
                        grid.showLoading();
                    },
                    url: "/pro/products/batch", //for ASP.NET, java
                    data: { list: JSON.stringify(changes) },
                    success: function (changes) {
                        //debugger;
                        grid.commit({ type: 'add', rows: changes.addList });
                        grid.commit({ type: 'update', rows: changes.updateList });
                        grid.commit({ type: 'delete', rows: changes.deleteList });

                    },
                    complete: function () {
                        grid.hideLoading();
                    }
                });
            }
        }
        /*]]>*/

    </script>
</head>
<body>
<div id="grid-array" style="margin:100px;"></div>
</body>
</html>